<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <form class="row" method="post" th:object="${nhanVien}" th:action="@{'/nhan-vien/update/' + *{id}}">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="mb-3" hidden>
        <label class="form-label">Mã</label>
        <input type="text" class="form-control" th:field="*{ma}">
      </div>
      <div class="mb-3">
        <label class="form-label">Họ</label>
        <input type="text" class="form-control" th:field="*{ho}">
      </div>
      <div class="mb-3">
        <label class="form-label">Tên đệm</label>
        <input type="text" class="form-control"  th:field="*{tenDen}">
      </div>
      <div class="mb-3">
        <label class="form-label">Tên</label>
        <input type="text" class="form-control" th:field="*{ten}">
      </div>
    </div>
    <div class="col-md-3">
      <div class="mb-3">
        <label class="form-label">Giới tính</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gioiTinh" value="Nam" th:field="*{gioiTinh}">
          <label class="form-check-label">
            Nam
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gioiTinh" value="Nữ" th:field="*{gioiTinh}">
          <label class="form-check-label">
            Nữ
          </label>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Chức vụ</label>
        <select class="form-select" th:field="*{id_chucVu}">
          <option th:each="cv : ${list_cv}" th:value="${cv.id}" th:text="${cv.ten}">One</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Cửa hàng</label>
        <select class="form-select" th:field="*{id_cuaHang}" id="cuaHang">
          <option th:each="ch : ${list_ch}" th:value="${ch.id}" th:text="${ch.ten}">One</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Năm sinh</label>
        <input type="date" class="form-control" th:field="*{namSinh}">
      </div>
    </div>
    <div class="col-md-3"></div>
    <div class="mb-3 text-center">
      <button type="submit" class="btn btn-success center" style="width: 10%">Update</button>
    </div>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>